#mytitle{
    background-color: rgb(143, 40, 143);
    color: white;
    padding: 10px;
    margin: 25px 200px 25px 200px;
    text-align:center;


}
.myrecipes{
    background-color:rgb(226, 120, 178);
    padding:10px 80px 10px 80px;
    margin: 0px 300px 25px 300px;
    
}
