#home{
    background-color:rgb(139, 132, 240);
    padding:10px;
}
#title{
    color:white;
    background-color:rgb(100, 3, 255);
    padding:10px 20px 10px 20px;
    text-align:center;
    margin:20px 400px 20px 400px;

}
img{
    display:block;
    margin:auto;
}
h2{
    color:white;
    background-color: rgb(100, 3, 255);
    padding:10px 20px 10px 20px;
    text-align:center;
   

}
p{
    text-align:center;
    background-color:rgb(139, 132, 240);
}
ul{
    
    padding:10px 30px 10px 30px;
    background-color: rgb(139, 132, 240);
}
ol{
    background-color:rgb(139, 132, 240);
    padding:10px 40px 10px 40px;
}
footer{
    padding-top:10px;
    padding-bottom:30px;
    background-color:rgb(139, 132, 240);
    text-align:center;
}