#home{
    background-color:rgb(144, 255, 110);
    padding:10px;
}
#title{
    color:white;
    background-color:rgb(68, 124, 52);
    padding:10px 20px 10px 20px;
    text-align:center;
    margin:20px 400px 20px 400px;

}
img{
    display:block;
    margin:auto;
}
h2{
    color:white;
    background-color: rgb(68,124,52);
    padding:10px 20px 10px 20px;
    text-align:center;
   

}
p{
    text-align:center;
    background-color:rgb(144, 255, 110);
}
ul{
    
    padding:10px 30px 10px 30px;
    background-color: rgb(144, 255, 110);
}
ol{
    background-color:rgb(144, 255, 110);
    padding:10px 40px 10px 40px;
}
